.form-body-login{
    height: 60vh;
    width:85vh;
    border: 2px solid black;
    padding-left: 2vh;
    padding-top: 2vh;
    margin: 15vh 20vh 20vh 40vh;
    background-color:black;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
}
.form-body-login button{
    margin: 0vh 2vh 1vh 15vh;
    border-radius:1vh;
    padding: 1vh 2vh 1vh 2vh;
    color:black;
    background-color:rgb(70, 198, 70);

}
.form-body-login a{
    background-color: black;
}
.form-body-login .form{
    background-color:black;
}
.form-body-login .each-input-block-login{
    background-color:black;
}
.form-body-login label h3,input,label{
    background-color: black;
    color: white;
}

.Imagecontent{
    width: 40vh;
    margin-right: 2vh;
    height: 50vh;
    background-color:black;
}
.Imagecontent img{
    height: 55vh;
    width: 40vh;
    border-radius: 2vh;
}
h2{
    color:white;
    background-color:black;
    margin-left: 9vh;
    margin-bottom: 4vh;
}
input[type="text"],input[type="email"],input[type="password"]{
    background-color: white;
    color: black;

}
h5{
    background-color: black;
    color: white;
}
h5 a{
    text-decoration: none;
    color: red;
    background-color: black;

}


